<template>

  <div class="md-layout list-layout md-alignment-center-center">
    


    <div class="md-layout-item md-size-45">
      <md-content>
      <h1>{{ name }}</h1>

      <div class="md-layout">
        <div class="md-layout-item md-size-80"><md-field><md-input v-model="input.itemName" md-counter="30"></md-input> </md-field></div>
        <div class="md-layout-item"><md-button v-on:click="update()" class="md-raised md-primary">Save</md-button></div>
      </div>

    </md-content>
    </div>



    
  </div>

</template>

<script>
import Vue from 'vue'

export default {
  name: 'EditListItem',
  props: {
    msg: String
  },
  data: function() {

    return {
      items: [],
      name:"",
      input: {
        itemName:""
      }
    }

  },
  mounted(){

    var id = this.$route.params.id;
    Vue.http.get(`http://localhost:3000/list/${id}`).then(res => {
      this.input.itemName = res.body
    }, err => {
      this.name = err.body;
    });

  },
  methods: {
    update() {
      var id = this.$route.params.id;
      Vue.http.put(`http://localhost:3000/list/${id}`, {name:this.input.itemName}).then(res => {

        this.$router.push(`/item/${id}`) 

      }, err => {
        this.name = err;
      });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.md-content {
  padding: 35px;
}
.md-layout-item {
  margin-top: 30px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
ul.list li {
  display:block;
  margin-bottom: 10px;
}
ul.list li a { 
  font-size: 22px;
}
a {
  color: #42b983;
}
</style>
