 <template>


  <div class="md-layout list-layout md-alignment-center-center">
    

    <div class="md-layout-item md-size-45">
    	<md-content style="overflow: auto;">
    		 <span>List Item</span>
    		 <h1>{{ name }}</h1>
    		 <hr>
    		 <md-button style="float: right;" v-on:click="remove()" class="md-raised md-accent">Delete</md-button>
			
			 <md-button :to="{ name: 'updateItem', params: { id: $route.params.id } }" style="float: right;" class="md-primary">Edit</md-button>

    	</md-content>
    </div>



    
  </div>


</template>

<script>
import Vue from 'vue'

export default {
  name: 'ListItemDetail',
  props: {
    msg: String
  },
  data: function() {
  	return {
  		name:""
  	}
  },
  mounted(){
  	var id = this.$route.params.id;
    Vue.http.get(`http://localhost:3000/list/${id}`).then(res => {
      this.name = res.body
    }, err => {
      this.name = err.body;
    });

  },
  methods: {
    add() {
      Vue.http.post('http://localhost:3000/list', {name:this.input.itemName}).then(res => {
        this.items = res.body
      }, err => {
        this.items = err;
      });
    },
    remove() {
      var id = this.$route.params.id;
      Vue.http.delete(`http://localhost:3000/list/${id}`).then(res => {
      	
      	window.history.length > 1
        ? this.$router.go(-1)
        : this.$router.push('/')

      }, err => {
        this.name = err.body;
      });
    }    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.md-button {
	margin-right: 0;
}
.md-content {
  padding: 35px;
}
.md-layout-item {
  margin-top: 30px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
