<template>

  <div class="md-layout list-layout md-alignment-center-center">
    


    <div class="md-layout-item md-size-45">
      <md-content>
      <h1>Task List</h1>

      <div class="md-layout">
        <div class="md-layout-item md-size-80"><md-field><md-input v-model="input.itemName" md-counter="30"></md-input> </md-field></div>
        <div class="md-layout-item"><md-button v-on:click="add()" class="md-raised md-primary">Save</md-button></div>
      </div>

 

      <span v-if="items.length == 0">No items</span>

      <ul class="list">
        <li v-for=" (item, index) in items"> <router-link :to="{ name: 'item', params: { id: index } }"> <strong>{{ index }}</strong> .{{ item }}</router-link> </li>
      </ul>



    </md-content>
    </div>



    
  </div>

</template>

<script>
import Vue from 'vue'

export default {
  name: 'List',
  props: {
    msg: String
  },
  data: function() {

    return {
      items: [],
      input: {
        itemName:""
      }
    }

  },
  mounted(){

    Vue.http.get('http://localhost:3000/list').then(res => {
      this.items = res.body
    }, err => {
      this.items = err;
    });

  },
  methods: {
    add() {
      Vue.http.post('http://localhost:3000/list', {name:this.input.itemName}).then(res => {
        this.items = res.body
        this.input.itemName = ""
      }, err => {
        this.items = err;
      });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.md-content {
  padding: 35px;
}
.md-layout-item {
  margin-top: 30px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
ul.list li {
  display:block;
  margin-bottom: 10px;
}
ul.list li a { 
  font-size: 22px;
}
a {
  color: #42b983;
}
</style>
