<template>

  <router-view></router-view>

</template>


<script>


export default {
  name: 'app',
  components: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background: url(https://images.wallpaperscraft.com/image/lines_vertical_rainbow_background_69447_2560x1600.jpg) !important;
  background-size: cover;
  height: 3000px;
}
</style>
